html,
body {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  font-family: monospace;
}

#description {
  position: absolute;
  font-size: 1vw;
  bottom: 0;
  right: 0;
  padding: 0.5em;
  margin: 20px;
  z-index: 10;
  width: 10%;
  background-color: rgb(3, 3, 222);
  color: rgb(237, 110, 196);
  border-radius: 1.25em;
}

.tp-dfwv {
  z-index: 10000;
  pointer-events: all;
}

@media (max-width: 800px) {
  #description {
    width: 20vw;
    font-size: 2vw;
  }
}

@media (max-width: 600px) {
  .my-pane {
    transform: scale(70%);
  }
  .tp-dfwv {
    overflow: visible;
    margin-right: -10%;
    margin-top: -15%;
  }
}

@media (max-width: 1120px) {
  .my-pane {
    transform: scale(70%);
  }
  .tp-dfwv {
    overflow: visible;
    margin-right: -10%;
    margin-top: -11%;
  }
}
