html, body {
  margin: 0;
  padding: 0;
}

#canvas-container {
  position: absolute;
  top: 50px; /* Adjust as needed */
  left: 50px; /* Adjust as needed */
  width: 300px; /* Adjust as needed */
  height: 300px; /* Adjust as needed */
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}
